<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kylog.barbacaoaapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarcaoaApp.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.notes.DeviceListActivity"></activity>
        <activity android:name=".activities.mesas.MesasEdit" />
        <activity android:name=".activities.notes.NotesActivity" />
        <activity android:name=".activities.users.UsersEdit" />
        <activity android:name=".activities.users.UsersCreate" />
        <activity android:name=".activities.users.UsersActivity" />
        <activity android:name=".activities.products.ProductsEdit" />
        <activity android:name=".activities.mesas.MesasCreate" />
        <activity android:name=".activities.mesas.MesasActivity" />
        <activity android:name=".activities.products.ProductsCreate" />
        <activity android:name=".activities.products.ProductsActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>