<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kylog.barbacaoaapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarcaoaApp.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".activities.events.EditEventActivity"
            android:screenOrientation="landscape" ></activity>
        <activity android:name=".activities.events.CreateEventActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.products.ProductsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.mesas.MesasActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.users.UsersActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.events.EventsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.catalogs.CatalogsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.expenses.ExpensesActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.reset.password.PasswordActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.reset.password.CodeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.reset.password.EmailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.notes.DeviceListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.mesas.MesasEdit"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.notes.NotesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.users.UsersEdit"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.users.UsersCreate"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.products.ProductsEdit"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.mesas.MesasCreate"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.products.ProductsCreate"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BluetoothService"/>
    </application>

</manifest>